.job-view-container {
    height: 100vh;
    display: flex;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.Row-container {
    width: 100%;
}

.employee-details,
.details-container,
.form-container {
    height: 100%;
}

.employee-details {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Dodane style dla elementów wewnątrz .form-container */
.form-container label,
.form-container button,
.form-container input,
.form-container select {
    width: 100%; /* Ustawienie szerokości na 100% dla elementów wewnątrz .form-container */
    max-width: 300px; /* Przykładowa maksymalna szerokość dla elementów formularza */
    margin-bottom: 10px;
    margin-right: 20vh;
    display: grid; /* Dodatkowy margines dla lepszego odstępu między elementami formularza */
}