.nav-link.login-link {
    background-color: white;
    border: 1px solid #ccc;
    padding: 8px 12px;
    border-radius: 5px;
  }
  
  .nav-link.signup-link {
    background-color: #007bff;
    border: 1px solid #007bff;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
  }
  
  .nav-icon {
    margin-right: 5px;
  }